@page "/"

<PageTitle>Crypto Link - Prestiż w każdym bajcie</PageTitle>


<AuthorizeView>
    <Authorized>
        <h1>Witaj, @authState.User.FindFirst("http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name")?.Value!</h1>
        <p>Jesteś zalogowany.</p>
    </Authorized>
    <NotAuthorized>
        <h1>Hello, world!</h1>
        <p>Welcome to your new app. <a href="/login">Zaloguj się</a></p>
    </NotAuthorized>
</AuthorizeView>

<div class="text-center mt-5">
    <h1 class="display-4">Więcej znaczy lepiej.</h1>
    <p class="lead">
        W świecie, gdzie wszyscy skracają, Ty bądź wielki.
        Odzyskaj dominację nad paskiem adresu przeglądarki.
    </p>
    <hr class="my-4">
    <p>
        Krótkie linki są podejrzane i tanie. Nasz algorytm <strong>Wydłużania™</strong>
        zamieni Twój krótki URL w majestatyczny ciąg znaków, którego nikt nie odważy się zignorować.
    </p>
    <p>
        <em>Ponieważ rozmiar ma znaczenie.</em>
    </p>

</div>
