@using CryptoLink.WebUI.Controllers.Modules
@using Microsoft.AspNetCore.Components.Authorization
@using static System.Net.WebRequestMethods
@using CryptoLink.WebUI.Client.Components

@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@inject NavigationManager Navigation
@inject HttpClient Http
@inject AuthenticationStateProvider AuthStateProvider


<div class="page">

    <div class="sidebar">
        <NavMenu />
    </div>


    <main class="main-container">
        <div class="top-row px-4 header" style="background-color: #046287;">
            <AuthorizeView>
                <NotAuthorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link btn btn-primary btn-lg shadow-lg" href="Login">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Login
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link btn btn-primary btn-lg shadow-lg" href="Register">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Register
                        </NavLink>
                    </div>
                </NotAuthorized>

                <Authorized>
                    <div class="nav-item px-3">
                        Witaj, @context.User.Identity?.Name!
                    </div>
                    <LogoutButton />
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body

            @a
        </article>
    </main>


</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code {
    private int a = 0;

    private async Task Logout()
    {
        a=100;

        try
        {
            await Http.PostAsync("/api/authC/logout", null);


            if (AuthStateProvider is CustomAuthStateProvider customProvider)
            {
                customProvider.NotifyUserLogout();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Błąd API: {ex.Message}");
        }
        finally
        {
            Navigation.NavigateTo("/", forceLoad: true);
        }
 
    }
}