@using Microsoft.AspNetCore.Components.Authorization
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Crypto Link</a>
    </div>
</div>



<input type="checkbox" title="Navigation menu" class="navbar-toggler" />




<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <AuthorizeView>
            <Authorized>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="CreateLink">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Stwóz Link
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="ListLink">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Twoje Linki
                    </NavLink>
                </div>

            </Authorized>
        </AuthorizeView>
    </nav>
</div>

