@page "/Logout"
@inject NavigationManager NavigationManager
@inject HttpClient Http

<p>Trwa wylogowywanie...</p>

@code {
    protected override async Task OnInitializedAsync()
    {
        try
        {
            await Http.PostAsync("/api/authC/logout", null);

            NavigationManager.NavigateTo("/", forceLoad: true);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Błąd: {ex.Message}");
            NavigationManager.NavigateTo("/", forceLoad: true);
        }
    }
}