@using CryptoLink.WebUI.Client
@using CryptoLink.WebUI.Client.Components
@using Microsoft.AspNetCore.Components.Web

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="CryptoLink.WebUI.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link href="CryptoLink.WebUI.styles.css" rel="stylesheet" />
    <HeadOutlet @rendermode="InteractiveWebAssembly" />

</head>

<body>
    <Routes @rendermode="InteractiveWebAssembly" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>


@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private IComponentRenderMode? RenderModeForPage => HttpContext.Request.Path.StartsWithSegments("/login")
        ? null
        : InteractiveServer;
}
